/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #ffffff;
  --color-lose: #D94545;
  --color-start: #333333;
  --color-neutral: #333333;
  --color-neutral-light: #3b3b3b;
  --color-dark-white: #D2D2D2;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --color-white: #FFFFFF;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: #bcdbf1;

}

.body-background {
  background-image: url(../images/pizza-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #bcdbf1;
  
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

ul li {

    border: 1px solid #333333;

}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
  color: #333333;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-neutral);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
  width: 100%;
}



.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-dark-white);
  border-radius: 5px;
}

.space {
  width: 15px;
  border: none;
}

.show {
  color: #000;
  background-color: #76CE82;
  transition: 0.5s;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

#qwerty button {
  border: 2px solid #333333;
}



.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
  border: 2px solid #ffffff !important;
}

.btn_reset, .btn_level_2 {
  padding: 8px;
  margin: 50px auto;
  background: #333333;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  text-decoration: none;
}



.btn_back_to_menu {
    padding: 8px;
    margin: 50px auto;
    background: var(--color-neutral-light);
    border-radius: 5px;
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: #ffffff;
}

.overlay-p {
  display: inherit;
  align-self: center;
}

.hide {
    display: none;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 30px;
  margin-left: 30px;
}

.music-player {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 30px;
  margin-right: 30px;
}

.music-button {
  max-width: 10%;
}

.music-img {
  max-width: 40%;
  background-color: #f6d4d4;
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  transition: 0.5s;
  background-image: url(../images/pizza-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #bcdbf1;
  
}

#overlay p {
  color: black;
}

.show-p {
  display: inherit;
}



.title {
  color: #333333;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-white);
}

.win a {
  color: var(--color-white);
}




a {
  cursor: pointer;
}

